.sidebar{
    width: auto;
    font-size: 30px;
    margin-top: 100px;
    margin-left: 80px;
}
.logo{
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: 0;
    padding: 0;
    display: block;
    height: 100px;
}
.ul > li{
    padding: 10px;
    text-decoration: none;
    font-family: IBM Plex Mono;
    font-weight: 550;
    color: black;
}
.link{
    color: #111D4A !important;
}
.icons{
    margin-left: 10px;
    margin-top: 100px;
}
.icons > li{
    padding: 5px;
    display: inline;
}
.cred{
    margin-top: 0px;
    font-size: 10px;
    height: 100px;
    padding: 10px;
    margin-left: 10px;
    width: 200px;
    font-weight: 550;
    font-family: IBM Plex Mono;
    color: #111D4A;
}
.build{
    color: #111D4A;
    margin-top: 5px;
    margin-bottom: 5px;
}
.build > a{
    color: #111D4A;
}
@media (max-width: 767px) {
    .sidebar{
        width: auto;
        font-size: 30px;
        margin-top: 20px;
        margin-left: 0;
    }
    .ul{
        text-align: center;
    }
    .logo{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }
    .ul > li{
        padding: 10px;
        display: inline;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .icons{
        margin-top: 10px;
        margin-left: 40%;
        margin-right: 30%;
        display: block;
        margin-bottom: 0;
        padding: 0;
    }
    .icons > li{
        padding: 5px;
        display: inline;
    }
    .cred{
        display: none;
    }
}
